h1 {
    background-color: rgb(255, 0, 204);
    font-size: larger;
    color: red;
    text-align: center;
}

h2 {
    background-color: yellow;
    font-size: smaller;
    color: red;
    text-align: center;
}

#parrafoPresentacion{
    color: white;
    font-size: "18px"
}

#divEspecial{
    background-color: green; 
    color: yellow;
}

#contenedorForm{
    background-color: lightgreen;
}

@media only screen and (min-width: 768px) {
    #divEspecial{
        background-color: aqua;
        color: brown;
    }

    #contenedorForm{
        background-color: orange;
    }


}

#segundoParrafo {
    font-style: oblique;
    color: whitesmoke;
}

